<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>中山大学大冒险 - 游戏页面</title>

	<link rel="stylesheet" type="text/css" href={{ static_url('css/game.css') }}>

</head>
<body>
	<div id="navigation">
		<div id="title">中山大学大冒险</div>
	</div>
	<div id="container">
			<div id="question" class="none-div">
				<p id="question-text" class="text">你希望在大学里恋爱吗？</p>
			</div>
			<div id="choose" class="none-div">
				<div><button id="A" class="cbtn btn">A. 希望</button></div>
				<div><button id="B" class="cbtn btn">B. 不希望</button></div>
				<div><button id="C" class="cbtn btn">C. 随缘</button></div>
			</div>
	</div>
	<div id="function">
		<div><button id="exit" class="fbtn btn">保存进度</button></div>
		<div><button id="save" class="fbtn btn">退出游戏</button></div>
	</div>
	<div id="footbar">
		<div id="plot" class="none-div">
			<p id="plot-text" class="text">欢迎来到中山大学大冒险，请按任意处开启你的故事吧！</p>
		</div>
	</div>
</body>
</html>
