<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中山大学大冒险注册页面</title>

    <link href={{static_url('css/login.css')}} rel="stylesheet"> 
  </head>
  <body>

   <!-- 导航栏 -->
    <div id="main">
        <div id="title">中山大学大冒险</div>


    <!-- 登陆框 -->
    <div class="container">
        <form class="box" method="post" action="/signup">
          <div class="group">
              <input type="username" class="form-control" id="name" name="name" placeholder="用户名">
          </div>

          <div class="group">
              <input type="password" class="form-control" id="password" name="password" placeholder="密码">
          </div>

          <div class="group">
               <button type="submit" id="signupBt">注册</button>
          </div>
        </form>
    </div>
    </div>

  </body>
</html>