<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中山大学大冒险登陆页面</title>

    <link href="../static/css/login.css" rel="stylesheet"> 
  </head>
  <body>

   <!-- 导航栏 -->
    <div class="navigation">
        <div id="title">中山大学大冒险</div>
    </div>

    <!-- 登陆框 -->
    <div class="container">
        <form class="box" method="post" action="\login">
          <div class="group">
            <label for="name">用户名</label>
              <input type="username" class="form-control" id="name" name="name">
          </div>

          <div class="group">
            <label for="password">密码</label>
              <input type="password" class="form-control" id="password" name="password">
          </div>

          <div class="group">
              <button type="submit">登陆</button>
            	<a href="/signup"> 注册</a>
          </div>
        </form>
    </div>

  </body>
</html>