body {
	background-image: url(images/background.gif);
}

.green {
	border: 10px white solid;
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
}

.red {
	background-color: #A8F0F0;
	text-align: right;
}

.red h2 {
	font-size: 14px;
}

.blue {
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
    margin-top: 10px;
	padding: 5px;
	overflow: hidden;
	margin-left: 140px;
}

.blue span {
	border-bottom: 2px #009097 dashed;
}

.blue img {
	float: right;
}

.left {
	float: left;
	width: 120px;
	border: 5px #C2E9E9 solid;
	background-color: #E8FBFB;
	margin-top: 10px;
	margin-right: -100%; 
	padding-left: 3px;
}

.right {
	float: left;
	width: 100%;
}

.clear {
	clear: both;
}

.hover:hover {color: yellow;}
