body {
	background-image: url(images/background.gif);
	margin-left: 10%;
	margin-right: 10%;
	/*背景间距问题未决*/
}

.green {
	border: 10px white solid;
	background-color: white;
}

.red {
	text-align: right;
	background-color: #A8F0F0;
}

.yellow {
	font-size: 14px; 
}

.blue {
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
		margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 5px;
}

.blue img {
	float: right;
}

#blue1 {
	height: 10em;
}

#blue2 {
	height: 13em;
}
.purple {
	border-bottom: 2px #009097 dashed;
}

.left {
	position: absolute;
	border: 4px #C2E9E9 solid;
	margin-top: 1em;
	padding-left: 5px;
	width: 200px;
	background-image: url(images/background.gif);
}

.right {
	margin-left: 220px; 
}

#hover:hover {
	color: yellow;
}
img:hover {background-color: yellow;}