body {
	background: url(../images/login_bg.jpg);
	background-attachment: fixed;
	background-color: #777;
	background-size: cover;
	background-repeat: no-repeat;
	font-family:"微软雅黑", "黑体","华文细黑";
	margin: 0;
	padding: 0;
}

/*
.navigation {
	position: absolute;
	top: ;
	width: 100%;
	height: 15%;
	margin: 0;
}*/
#main {
	position: absolute;
	top: 40%;
	left: 40%;
	width: auto;
	min-height: 150px;
	height: auto!important;
}

#title {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 24px;
	color: white;
	letter-spacing: 3px;
}

.container {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	/*background-color: rgba(255, 255, 255, 0.3);*/
}

.group {
	width: 100%;
	height: 30%;
	padding-bottom: 20px;
	text-align: center;
	font-weight: bold;
	color: white;
}

input {
	width: 250px;
	height: 30px;
	margin: 0;
	text-align: center;
}

a {
	vertical-align: center;
	text-decoration: none;
	color: gray;
	font-size: 12px;
}

button {
	background-color: rgba(0,255,255, 0.4);
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color: #FFF;
	height: 40px;
	width: 60px;
	text-align: center;
	border: solid 1px #186f8f;
	border-radius: 5px;
	cursor: pointer;
}

.group button {
	float: right;
}

.group a {
	float: left;
	margin-top: 15px;
}

#signupBt {
	margin: auto;
	width: 255px;
}

button:active {
	padding-bottom:9px;
	padding-left:10px;
	padding-right:10px;
	padding-top:11px;
	top:1px;
	);
}