body {
	background-color: Khaki;
	font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1, h2 {
	color: #CD853F;
}

h2, p {
	font-style: italic;
}
p strong {
	color: blue;
}

/*Style Your Page with CSS*/

h1 {
	color: #CD853F;
}

h2 {
	color: #CD853F;
	font-style: italic;
}

p strong {
	color: red;
}

li {
	font-style: italic;
}
/*Style Your Page with CSS*/

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}

p:first-letter {
	font-size: 1.5em;
	font-weight: bold;
}

/*Advanced Style Techniques*/

ol {
	list-style: none;
    counter-reset: section 4;
    position: relative;
}
/*Advanced Style Techniques*/
ol {
	list-style: none;
    counter-reset: section 4;
}

ol li:before {
    counter-increment: section -1;
    content: counter(section) ". ";
    position: absolute;
	left: 1em;
}

/*Decrementing ol*/
