body {
	background-color: Khaki;
	font-family: 'Comic Sans MS', cursive, sans-serif;
}

<<<<<<< HEAD
h1, h2 {
	color: #CD853F;
}

h2, p {
	font-style: italic;
}
p strong {
	color: blue;
}

/*Style Your Page with CSS*/

=======
h1 {
	color: #CD853F;
}

h2 {
	color: #CD853F;
	font-style: italic;
}

p strong {
	color: red;
}

li {
	font-style: italic;
}
/*Style Your Page with CSS*/
>>>>>>> b251460aa0a4d2ba0b4231dd7f508c79fe144c1c
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}

p:first-letter {
	font-size: 1.5em;
<<<<<<< HEAD
	font-weight: bold;
}

/*Advanced Style Techniques*/

ol {
	list-style: none;
    counter-reset: section 4;
    position: relative;
=======
}
/*Advanced Style Techniques*/
ol {
	list-style: none;
    counter-reset: section 4;
>>>>>>> b251460aa0a4d2ba0b4231dd7f508c79fe144c1c
}

ol li:before {
    counter-increment: section -1;
    content: counter(section) ". ";
<<<<<<< HEAD
    position: absolute;
	left: 1em;
}

=======
}
>>>>>>> b251460aa0a4d2ba0b4231dd7f508c79fe144c1c
/*Decrementing ol*/
