body {
	background-color: Khaki;
}

h1 {
	font-family: "Century Gothic", Futura, Verdana;
	font-size: 5em;
	text-align: center;
	background-color: #F0F0F0;
	color: #A4A400;
	margin-top: 0px;
	margin-bottom: 0px;
}

#p1 {
	font-family: "Century Gothic", Futura, Verdana;
	text-align: center;
	color: gray;
	background-color: LightBlue;
	font-size: 1.5em;
	margin-bottom: 0px;
}

#p2 {
	font-family: "Century Gothic", Futura, Verdana;
	color: #A4A400;
	text-align: center;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}

#p3 {
	font-family: "Century Gothic", Futura, Verdana;
	color: #A4A400;
	text-align: center;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}

#p4, #p5 {
	font-family: "Century Gothic", Futura, Verdana;
	color: #008000;
	font-size: 1.5em;
}

li {
	list-style-image: url(images/pie_icon.gif);
	color: Brown;
	font-family: "Century Gothic", Futura, Verdana;

}
img {
	margin-left: 34em;
	margin-top: 0px; 
}

a {
	color: Brown;
}

p a {
	font-size: 1.5em;
	color: #008000;
	font-weight: bold;
}