body {
	width: 1024px;
	font-family: Georgia, Garamond, serif;
	font-size: 11pt;
	color: #404040;
	background-image: url(images/silverware.jpg);
}


h1 {
	font-family: "Century Gothic", Futura, Verdana;
	font-size: 22pt;
	text-align: center;
}


h2 {
	font-size: 18pt;
	font-family: Serif;
}


h1, h2 {
	background-color: #F0F0F0;
	color: #A4A400;
	text-decoration: underline;
	letter-spacing: 0.2em;
}

.first {
	list-style: none;
	padding-left: 0px;
}

.p {
	background-color: #FFFFC8;
	font-style: oblique;
	margin-left: 5%;
	margin-right: 5%;
}


.number {
    list-style: decimal;
}

a {
	color: #A4A400;
}

a img {
	border: none;
}

li li {
	list-style-image: url(images/pie_icon.gif);
}
